<section class="region region--alt">
  <div class="layout layout--wide">
    <div class="tabs__wrapper">
      <ul class="tabs" data-tabs-list>
        <li class="tab">
          {{#link-to "index" class="tab__link"}}<i class="fa fa-angle-left"></i> Terug naar overzicht{{/link-to}}
        </li>
      </ul>
    </div>

    <div class="grid">
      <div class="col--8-12 col--1-1--s">
        <h1 class="h1">Meldingsplicht API</h1>
        <p>
          Lokale besturen publiceren beslissingen die via de Toezicht module in het Loket voor Lokale Besturen gemeld moeten worden. Loket voor Lokale Besturen biedt een API aan waarop publicaties van beslissingen gemeld kunnen worden, waarna ze automatisch geharvest zullen worden en toevoegd worden als nieuwe melding in Loket voor Lokale Besturen. Dit document beschrijft de API voor automatische melding.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="region">
  <div class="layout layout--wide">
    <div class="grid">
      <div class="col--8-12 col--1-1--s">
        <article class="u-spacer--large">
          <h2 class="h2" id="todo">Aanmaken nieuwe melding</h2>
          <p class="u-spacer">
            Maakt een nieuwe melding aan.  Indien al de nodige velden ingevuld zijn, kan de melding automatisch verzonden via Loket voor Lokale Besturen.  Indien er ontbrekende velden zijn krijgt het bestuur een mailtje dat er een melding klaar staat voor verzending in het Loket voor Lokale Besturen. Alle calls kunnen uitgevoerd worden door

            <CodeBlock>POST https://api.loket.lokaalbestuur.vlaanderen.be/melding</CodeBlock>

            Volgende voorbeelden beschrijven de JSON body van deze calls. Een specificatie van de annotaties staat beschreven op {{#link-to "docs.submission-annotations"}}annotaties&nbsp;voor&nbsp;automatische&nbsp;melding{{/link-to}}.
          </p>

          <h3 class="h3">Kortste voorbeeld</h3>
          <p>
            Een kort voorbeeld van de API:
            {{#let (get-code-snippet "reporting-obligation-quick-example.js") as |snippet|}}
              <CodeBlock @language={{snippet.language}}>{{snippet.source}}</CodeBlock>
            {{/let}}
          </p>
          <p  class="small text-fade u-spacer">
            Bekijk welke annotaties gebruikt kunnen worden: {{#link-to "docs.submission-annotations"}}annotaties&nbsp;voor&nbsp;automatische&nbsp;melding{{/link-to}}.
          </p>

          <h3 class="h3">Optioneel meegeven van draft of inzendbaar status</h3>
          <p class="u-spacer">
            Indien een inzending aangemaakt wordt en volledig is, dan kan ze automatisch verzonden worden.  Optioneel kan aangegeven worden dat de inzending in draft status is door de "status" property mee te geven.  De status kan de URI voor "concept" of "inzendbaar" zijn.

            <table class="data-table u-spacer">
              <thead>
                <tr>
                  <th>Status</th>
                  <th>URI</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Concept</td>
                  <td>http://lblod.data.gift/concepts/79a52da4-f491-4e2f-9374-89a13cde8ecd</td>
                </tr>
                <tr>
                  <td>Inzendbaar</td>
                  <td>http://lblod.data.gift/concepts/f6330856-e261-430f-b949-8e510d20d0ff</td>
                </tr>
              </tbody>
            </table>

            Voorbeeld:
            {{#let (get-code-snippet "reporting-obligation-optioneel-meegeven-draft-status.js") as |snippet|}}
              <CodeBlock @language={{snippet.language}}>{{snippet.source}}</CodeBlock>
            {{/let}}
          </p>

          <h3 class="h3">JSON-LD context</h3>
          <p class="u-spacer">
            Elk van voorgaande voorbeelden heeft een impliciete JSON-LD context.  Deze context kan expliciet in de calls meegegeven worden, of een alternatieve context kan meegegeven worden. Op deze manier blijft de API maximaal flexibel.
            Deze context wordt ter beschikking gesteld op <a href="https://lblod.data.gift/contexts/automatische-melding/v1/context.json">https://lblod.data.gift/contexts/automatische-melding/v1/context.json</a>.
            {{#let (get-code-snippet "reporting-obligation-json-ld-context.js") as |snippet|}}
              <CodeBlock @language={{snippet.language}}>{{snippet.source}}</CodeBlock>
            {{/let}}
          </p>

          <h3 class="h3">Uitgebreid voorbeeld</h3>
          <p class="u-spacer">
            Een call kan ook met een volledige of deels geconfigureerde JSON-LD context ingestuurd worden. Dat ziet er dan als volgt uit:
            {{#let (get-code-snippet "reporting-obligation-expanded-call.js") as |snippet|}}
              <CodeBlock @language={{snippet.language}}>{{snippet.source}}</CodeBlock>
            {{/let}}
          </p>
        </article>

        <article>
          <h2 class="h2">Publicatie van documenten en besluiten</h2>
          <h3 class="h3">Annotaties voor automatische melding</h3>
          <p class="u-spacer">
            Bekijk welke annotaties vendors kunnen gebruiken om besluiten automatisch in te sturen: {{#link-to "docs.submission-annotations"}}annotaties&nbsp;voor&nbsp;automatische&nbsp;melding{{/link-to}}.
          </p>
          <h3 class="h3">Vereisten voor gepubliceerde pagina's</h3>
          <p class="u-spacer">
            Opdat de documenten en besluiten op een correcte manier automatisch geoogst kunnen worden, moeten de URLs waarop de documenten gepubliceerd worden aan enkele vereisten voldoen:
          </p>
          <h4 class="h4">SSL en certificaten</h4>
          <p class="u-spacer">
            Wanneer pagina's gepubliceerd worden met HTTPS moeten ze over een geldig certificaat beschikken. Dit certificaat omvat niet enkel het eigen certificaat, maar ook de hele keten tot aan het root-certificaat. Er bestaan tools, zoals <a href="https://www.ssllabs.com/ssltest/index.html">deze</a> om de geldigheid van de certificaten-ketting te testen.
          </p>
          <h4 class="h4">javascript</h4>
          <p class="u-spacer">
            De gepubliceerde pagina's mogen javascript bevatten, maar dit mag geen impact hebben op de inhoud van de pagina. Alle annotaties die geharvest moeten worden, moeten beschikbaar zijn bij het ophalen van de pagina, zonder dat er verdere scripts nodig zijn. Dit kan bijvoorbeeld getest worden door het gebruik van het <code>curl</code> commando om de gepubliceerde pagina op te halen.
          </p>
        </article>

        <article>
          <h2 class="h2">Authenticatie</h2>
          <p class="u-spacer">
            Een bestuurseenheid kan een externe partij authorizeren om automatische meldingen uit te voeren in hun naam. Het beheer van deze rechten en permissies zal op lange termijn gebeuren via ACM/IDM en het Gebruikersbeheer. Op korte termijn zal dit beheerd worden door ABB.
          </p>
          <p class="u-spacer">
            Iedere externe partij krijgt een unieke identificator en sleutel die meegestuurd wordt in de automatische melding. Voor de test API kun je als softwareleverancier zelf een sleutel aanvragen via <a href="mailto:digitaalABB@vlaanderen.be?subject=Geheime sleutel automatische melding API test">digitaalABB@vlaanderen.be</a>. Je krijgt dan een random gemeente om mee te testen. Wanneer de productie API beschikbaar komt, zal een bestuur de sleutel kunnen aanvragen via <a href="mailto:digitaalABB@vlaanderen.be?subject=Geheime sleutel automatische melding API productie">digitaalABB@vlaanderen.be</a>. De lokale besturen zullen dan ook via <a href="mailto:digitaalABB@vlaanderen.be?subject=Permissie voor softwareleverancier ikv automatische melding">digitaalABB@vlaanderen.be</a> een aanvraag insturen om een softwareleverancier permissie te geven om in hun naam automatische meldingen in te sturen.
          </p>
        </article>

        <article>
          <h2 class="h2">Ontwikkeling en test</h2>
          <p class="u-spacer">
            Voor het ontwikkelen en testen van automatische melding is een test endpoint ter beschikking gesteld op:

            <CodeBlock>POST https://api.loket.lblod.info/melding</CodeBlock>

            De publisher URI en geheime sleutel voor deze omgeving moeten eerst aangevraagd worden zoals beschreven onder 'Authenticatie'. De verwerking van de melding gebeurt asynchroon. De response van deze request bevat een URI waarmee het resultaat van de verwerking nadien bekeken kan worden.
          </p>
          <p class="u-spacer">
            De verificatie kan gebeuren door een request te sturen naar:
            <CodeBlock>GET https://api.loket.lblod.info/verify/inzending?uri={uri-uit-melding-response}</CodeBlock>

            De response geeft de triples terug die geharvest zijn uit de ingestuurde publicatie. Op basis hiervan kan men verifi&euml;ren of de annotaties in het document correct zijn.
          </p>
        </article>

        {{outlet}}
      </div>
    </div>
  </div>
</section>
