<DocsHeader @heading="Meldingsplicht API">
  <p>
    Lokale besturen publiceren beslissingen die via de Toezicht module in het Loket voor Lokale Besturen gemeld moeten worden. Loket voor Lokale Besturen biedt een API aan waarop publicaties van beslissingen gemeld kunnen worden, waarna ze automatisch geharvest zullen worden en toevoegd worden als nieuwe melding in Loket voor Lokale Besturen. Dit document beschrijft de API voor automatische melding.
  </p>
</DocsHeader>

<section class="region">
  <div class="layout layout--wide">
    <div class="grid">
      <div class="col--8-12 col--1-1--s">
        <article class="u-spacer--large">
          <h2 class="h2" id="todo">Aanmaken nieuwe melding</h2>
          <h3 class="h3">API endpoint</h3>
          <p class="u-spacer">
            Het aanmaken van een nieuwe melding gebeurt via een request naar

            <CodeBlock>POST https://api.loket.lokaalbestuur.vlaanderen.be/melding</CodeBlock>

            met JSON-LD request body:

            {{#let (get-code-snippet "reporting-obligation-quick-example.js") as |snippet|}}
              <CodeBlock @language={{snippet.language}}>{{snippet.source}}</CodeBlock>
            {{/let}}
            <p  class="small text-fade u-spacer">
              Bekijk welke annotaties gebruikt kunnen worden in de gepubliceerde pagina: <LinkTo @route="docs.submission-annotations">annotaties&nbsp;voor&nbsp;automatische&nbsp;melding</LinkTo>.
            </p>
          </p>

          <p class="u-spacer">
            Het aanvragen van een publisher URI en geheime sleutel (key) staan verderop beschreven in de sectie 'Authenticatie'.
          </p>
          <h3 class="h3">Scope van een melding</h3>
          <p class="u-spacer">
            Er moet een melding gedaan worden per besluit/document. De link die gestuurd wordt in de <code>href</code>-property van de request body moet een link zijn naar de pagina met de inhoud van het besluit/document. Dit mag geen overzichtspagina zijn waar er nog moet doorgeklikt worden naar een andere pagina. Er mogen wel nog andere besluiten/documenten geannoteerd staan op de pagina. De URI van het besluit dat gemeld wordt, wordt meegegeven in de <code>submittedResource</code>-property. Verdere vereisten rond de gepubliceerde pagina's staan verderop beschreven.
          </p>

          <p class="u-spacer">
            Bijvoorbeeld: <br>
            Gemeente Vlavirgem heeft de geannoteerde notulen van een zitting gepubliceerd op <a href="#">http://vlavirgem.be/zittingen/20200304.html</a>. De geannoteerde pagina bevat besluiten:
          </p>
          <p class="u-spacer">
            <ul class="bullet-list">
              <li class="bullet-list__item"><a href="#">http://data.vlavirgem.be/besluiten/id/besluit-A</a>,</li>
              <li class="bullet-list__item"><a href="#">http://data.vlavirgem.be/besluiten/id/besluit-B</a>,</li>
              <li class="bullet-list__item"><a href="#">http://data.vlavirgem.be/besluit/id/besluit-C</a></li>
            </ul>
          </p>
          <p class="u-spacer">
            Er moeten dan 3 requests naar de melding API gestuurd worden. Alle requests hebben als <code>href</code>-property: <a href="#">http://vlavirgem.be/zittingen/20200304.html</a>. De '<code>submittedResource</code>-property verschilt per request en bevat de URI van het besluit dat gemeld wordt.
          </p>

          <h3 class="h3">Meegeven van draft of inzendbaar status (optioneel)</h3>
          <p class="u-spacer">
            Indien een inzending aangemaakt wordt en volledig is, dan kan ze automatisch verzonden worden. Optioneel kan aangegeven worden dat de inzending in draft status is door de <code>status</code>-property mee te geven. De status kan de URI voor "concept" of "inzendbaar" zijn.

            <table class="data-table u-spacer">
              <thead>
                <tr>
                  <th>Status</th>
                  <th>URI</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Concept</td>
                  <td>http://lblod.data.gift/concepts/79a52da4-f491-4e2f-9374-89a13cde8ecd</td>
                </tr>
                <tr>
                  <td>Inzendbaar</td>
                  <td>http://lblod.data.gift/concepts/f6330856-e261-430f-b949-8e510d20d0ff</td>
                </tr>
              </tbody>
            </table>

            Voorbeeld:
            {{#let (get-code-snippet "reporting-obligation-optioneel-meegeven-draft-status.js") as |snippet|}}
              <CodeBlock @language={{snippet.language}}>{{snippet.source}}</CodeBlock>
            {{/let}}
          </p>

          <h3 class="h3">JSON-LD context</h3>
          <p class="u-spacer">
            Elk van voorgaande voorbeelden heeft een impliciete JSON-LD context.  Deze context kan expliciet in de calls meegegeven worden, of een alternatieve context kan meegegeven worden. Op deze manier blijft de API maximaal flexibel.
            Deze context wordt ter beschikking gesteld op <a href="https://lblod.data.gift/contexts/automatische-melding/v1/context.json">https://lblod.data.gift/contexts/automatische-melding/v1/context.json</a>.
            {{#let (get-code-snippet "reporting-obligation-json-ld-context.js") as |snippet|}}
              <CodeBlock @language={{snippet.language}}>{{snippet.source}}</CodeBlock>
            {{/let}}
          </p>
        </article>

        <article>
          <h2 class="h2">Authenticatie</h2>
          <p class="u-spacer">
            Een bestuurseenheid kan een externe partij authorizeren om automatische meldingen uit te voeren in hun naam. Het beheer van deze rechten en permissies zal op lange termijn gebeuren via ACM/IDM en het Gebruikersbeheer. Op korte termijn zal dit beheerd worden door ABB.
          </p>
          <p class="u-spacer">
            Iedere externe partij krijgt een unieke identificator en sleutel die meegestuurd wordt in de automatische melding. Voor de test API kun je als softwareleverancier zelf een sleutel aanvragen via <a href="mailto:digitaalABB@vlaanderen.be?subject=Geheime sleutel automatische melding API test">digitaalABB@vlaanderen.be</a>. Je krijgt dan een random gemeente om mee te testen. Wanneer de productie API beschikbaar komt, zal een bestuur de sleutel kunnen aanvragen via <a href="mailto:digitaalABB@vlaanderen.be?subject=Geheime sleutel automatische melding API productie">digitaalABB@vlaanderen.be</a>. De lokale besturen zullen dan ook via <a href="mailto:digitaalABB@vlaanderen.be?subject=Permissie voor softwareleverancier ikv automatische melding">digitaalABB@vlaanderen.be</a> een aanvraag insturen om een softwareleverancier permissie te geven om in hun naam automatische meldingen in te sturen.
          </p>
        </article>

        <article>
          <h2 id="publicatie-documenten" class="h2">Publicatie van documenten en besluiten</h2>
          <h3 class="h3">Annotaties voor automatische melding</h3>
          <p class="u-spacer">
            Bekijk <LinkTo @route="docs.submission-annotations">hier</LinkTo> welke annotaties gebruikt kunnen worden op de gepubliceerde pagina's om besluiten automatisch te verzenden.
          </p>
          <h3 class="h3">Vereisten voor gepubliceerde pagina's</h3>
          <p class="u-spacer">
            Opdat de documenten en besluiten op een correcte manier automatisch geoogst kunnen worden, moeten de URLs waarop de documenten gepubliceerd worden aan enkele vereisten voldoen:
          </p>
          <h4 class="h4">SSL en certificaten</h4>
          <p class="u-spacer">
            Wanneer pagina's gepubliceerd worden met HTTPS moeten ze over een geldig certificaat beschikken. Dit certificaat omvat niet enkel het eigen certificaat, maar ook de hele keten tot aan het root-certificaat. Er bestaan tools, zoals <a href="https://www.ssllabs.com/ssltest/index.html">deze</a> om de geldigheid van de certificaten-ketting te testen.
          </p>
          <h4 class="h4">javascript</h4>
          <p class="u-spacer">
            De gepubliceerde pagina's mogen javascript bevatten, maar dit mag geen impact hebben op de inhoud van de pagina. Alle annotaties die geharvest moeten worden, moeten beschikbaar zijn bij het ophalen van de pagina, zonder dat er verdere scripts nodig zijn. Dit kan bijvoorbeeld getest worden door het gebruik van het <code>curl</code> commando om de gepubliceerde pagina op te halen.
          </p>
          <h3 class="h3">Ophalen van niet-publieke documenten [BETA]</h3>
          <p class="u-spacer">
            Indien er private documenten moeten worden opgehaald, kunnen authenticatiegevens worden doorgegeven aan de crawler. <br> De volgende authenticatie-schemas worden ondersteund:
            <ul class="ul">
              <li><a href="https://datatracker.ietf.org/doc/html/rfc7617">Basic Authentication</a> </li>
              <li>
                <a href="https://tools.ietf.org/html/rfc6749#section-4.4">OAuth 2.0 Client Credentials Grant</a> (zie ook <a href="https://oauth.net/2/grant-types/client-credentials/">hier</a>)
                <ul class="ul">
                  <li>Met uitbreiding van <a href="https://datatracker.ietf.org/doc/html/rfc8707">Resource Indicators</a></li>
                </ul>
              </li>
            </ul>

            Deze lijst is niet definitief, en kan -in functie van de noden- uitgebreid worden. In geval van vragen, kan u steeds terecht op <a href="mailto:digitaalABB@vlaanderen.be">digitaalABB@vlaanderen.be</a>
          </p>
          <h4 class="h4">Overzicht</h4>
          <p class="u-spacer">
            Een key <a href="http://lblod.data.gift/vocabularies/automatische-melding/targetAutenticationConfiguration">authentication</a> dient toegevoed worden aan de body van het request. De informatie die onder de key valt, zal gebruikt worden voor de url van het te ophalen document en alle relevante gerelateerde documenten (bijlagen en <a href="http://lblod.data.gift/vocabularies/besluit/linkToPublication">linkToPublication</a>).
          </p>
          <h4 class="h4">Basic Authentication</h4>
          <p class="u-spacer">
            De key 'authentication' wordt toegevoegd als volgt aan het request:
            {{#let (get-code-snippet "submission-basic-auth.js") as |snippet|}}
              <CodeBlock @language={{snippet.language}}>{{snippet.source}}</CodeBlock>
            {{/let}}
          </p>
          <h4 class="h4">OAuth 2.0 Client Credentials Grant</h4>
          <p class="u-spacer">
            De key 'authentication' wordt toegevoegd als volgt aan het request:
            {{#let (get-code-snippet "submission-oauth2-client-credentials.js") as |snippet|}}
              <CodeBlock @language={{snippet.language}}>{{snippet.source}}</CodeBlock>
            {{/let}}
            De key 'resource' is hier optioneel en kan gebruikt worden om verdere beperkingen op te leggen over de op te halen resource, conform:  <a href="https://datatracker.ietf.org/doc/html/rfc8707">Resource Indicators</a>.
            Noteer, op OAuth 2.0 zijn er veel variaties mogelijk, contacteer ons gerust indien er uitbreidingen gewenst zijn.
          </p>
          <h4 class="h4">Belangrijke opmerking</h4>
          <p class="u-spacer">
          We gaan ervan uit dat de credentials regelmatig geroteerd worden, teneinde de veiligheid te verhogen.
          </p>
        </article>

        <article>
          <h2 class="h2">Ontwikkeling en test</h2>
          <p class="u-spacer">
            Voor het ontwikkelen en testen van automatische melding is een test endpoint ter beschikking gesteld op:

            <CodeBlock>POST https://api.loket.lblod.info/melding</CodeBlock>

            De publisher URI en geheime sleutel voor deze omgeving moeten eerst aangevraagd worden zoals beschreven onder 'Authenticatie'. De verwerking van de melding gebeurt asynchroon, maar zou in normale omstandigheden in een tijdspanne van enkele minuten afgehandeld worden.
          </p>
          <p class="u-spacer">
            Om te valideren hoe een melding er zal uitzien in het Loket van Lokale Besturen is een web applicatie beschikbaar gesteld op <a href="https://api.loket.lblod.info/mock-login">https://api.loket.lblod.info/mock-login</a>. Je kan inloggen door de gewenste bestuurseenheid aan te klikken in de lijst. Vervolgens wordt een lijst getoond van alle meldingen die ontvangen zijn. Wanneer op het 'detail' van een melding geklikt wordt, kan bekeken worden welke kennis er uit het gepubliceerde document geharvest is en of deze al dan niet geldig/volledig is.
          </p>
        </article>

        <article>
          <h2 class="h2">Meldingsregels</h2>
          <p class="u-spacer">
            Informatie over welk type besluit meldingsplichtig is en dit voor welke type bestuur, wordt bijghouden in de
            <LinkTo @route="docs.sparql-endpoint">centrale-vindplaats</LinkTo>.
            <br>
            Dit endpoint kan dan bevraagd worden om te bepalen of een bestuur al dan niet een inzending kan of moet insturen.
          </p>
          <p class="u-spacer">
            Het model van dergelijke regel ziet er als volgt uit:
          </p>
          <h3 class="h3">Gebruikte prefixen</h3>
          <div class="u-table-overflow">
            <table class="data-table data-table--zebra">
              <thead>
                <tr>
                  <th>Prefix</th>
                  <th>URI</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>lblodBesluit</td>
                  <td><a href="http://lblod.data.gift/vocabularies/besluit/">http://lblod.data.gift/vocabularies/besluit/</a></td>
                </tr>
                <tr>
                  <td>schema</td>
                  <td><a href="http://schema.org/">http://schema.org/</a></td>
                </tr>
                <tr>
                  <td>skos</td>
                  <td><a href="http://www.w3.org/2004/02/skos/core#">http://www.w3.org/2004/02/skos/core#</a></td>
                </tr>
                <tr>
                  <td>xsd</td>
                  <td><a href="http://www.w3.org/2001/XMLSchema#">http://www.w3.org/2001/XMLSchema#</a></td>
                </tr>
                <tr>
                  <td>rule</td>
                  <td><a href="http://lblod.data.gift/vocabularies/notification/">http://lblod.data.gift/vocabularies/notification/</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <p class="u-spacer">

          </p>
          <h3 class="h3">rule:NotificationRule</h3>
          <p class="u-spacer">
            Beschrijft de meldingsregel voor een bepaald type besluit
          </p>
          <h4 class="h4" id="orgheadline4">Eigenschappen</h4>
          <div class="u-table-overflow">
            <table class="data-table data-table--zebra">
              <thead>
                <tr>
                  <th>Naam</th>
                  <th>URI</th>
                  <th>Verwacht type</th>
                  <th>Beschrijving</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>geldig vanaf</td>
                  <td><code>schema:validFrom</code></td>
                  <td><code>xsd:dateTime</code></td>
                  <td>Beschrijft de inwerkingstreding van de meldingsregel.</td>
                </tr>
                <tr>
                  <td>geldig tot</td>
                  <td><code>schema:validThrough </code></td>
                  <td><code>xsd:dateTime</code></td>
                  <td>Beschrijft de uitwerkingstreding van de meldingsregel.</td>
                </tr>
                <tr>
                  <td>geldig voor</td>
                  <td><code>lblodBesluit:decidableBy</code></td>
                  <td><code>skos:Concept</code></td>
                  <td>Beschrijving van het type bestuur voor wie de regel geldig is.
                    <br> De concepten staan beschreven op
                    <a href="https://data.vlaanderen.be/doc/conceptscheme/BestuurseenheidClassificatieCode" target="_blank">
                      data.vlaanderen.be/doc/conceptscheme/BestuurseenheidClassificatieCode
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>meldingsplichtig</td>
                  <td><code>lblodBesluit:obligationToReport</code></td>
                  <td><code>xsd:boolean</code></td>
                  <td>Beschrijft of het hier over een meldingsplichtig besluit gaat</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p class="u-spacer">

          </p>
          <h3 class="h3">Link naar rule:NotificationRule</h3>
          <p class="u-spacer">
            Elementen uit de codelijsten
            <a href="https://data.vlaanderen.be/id/concept/BesluitDocumentType/">BesluitDocumentType</a> en
            <a href="https://data.vlaanderen.be/id/concept/BesluitType/">BesluitType</a>
            worden gelinkt met het predikaat <a href="http://lblod.data.gift/vocabularies/besluit/">lblodBesluit:notificationRule</a> om te verwijzen naar de specifieke regels die van toepassing op het type besluit.
          </p>
          <h4 class="h4" id="orgheadline4">Eigenschappen</h4>
          <div class="u-table-overflow">
            <table class="data-table data-table--zebra">
              <thead>
                <tr>
                  <th>Naam</th>
                  <th>URI</th>
                  <th>Verwacht type</th>
                  <th>Beschrijving</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>notificationRule</td>
                  <td><code>lblodBesluit:notificationRule</code></td>
                  <td><code>rule:NotificationRule</code></td>
                  <td>Beschrijft welke meldinsregels van toepassing zijn op het type besluit of document</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p class="u-spacer">

          </p>
          <h3 class="h3">Voorbeelden</h3>
          <h4 class="h4">RDF-snippet</h4>
          <p class="u-spacer">
            De volgende snippet beschrijft hoe het er kan uitzien in RDF-formaat.
            {{#let (get-code-snippet "example-notification-rule.ttl") as |snippet|}}
              <CodeBlock >{{snippet.source}}</CodeBlock>
            {{/let}}
            Noteer: het gaat hier om een illustratief voorbeeld.
          </p>
          <h4 class="h4">SPARQL-query</h4>
          <p class="u-spacer">
            De volgende SPARQL-query geeft een voorbeeld van hoe
            <LinkTo @route="docs.sparql-endpoint">centrale-vindplaats</LinkTo> bevraagd kan worden om meer informatie te vinden over de regels.
            <br>
            Hier worden alle meldingsplichtige besluiten opgelijst voor een Gemeente.
            {{#let (get-code-snippet "example-notification-rule.sparql") as |snippet|}}
              <CodeBlock >{{snippet.source}}</CodeBlock>
            {{/let}}
          </p>
        </article>
        {{outlet}}
      </div>
    </div>
  </div>
</section>
