<section class="region region--alt">
  <div class="layout layout--wide">
    <div class="tabs__wrapper">
      <ul class="tabs" data-tabs-list>
        <li class="tab">
          {{#link-to "index" class="tab__link"}}<i class="fa fa-angle-left"></i> Terug naar overzicht{{/link-to}}
        </li>
      </ul>
    </div>

    <div class="grid">
      <div class="col--8-12 col--1-1--s">
        <h1 class="h1">Loket meldingsplicht API</h1>
        <p>
          Dit document beschrijft de API die vendors kunnen gebruiken om besluiten in te sturen.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="region">
  <div class="layout layout--wide">
    <div class="grid">
      <div class="col--8-12 col--1-1--s">
        <h2 class="h2" id="todo">Aanmaken nieuwe melding</h2>
        <article class="u-spacer--large">
          <p class="u-spacer">
            Maakt een nieuwe melding aan.  Indien al de nodige velden ingevuld zijn wordt de melding automatisch verzonden via het loket.  Indien er ontbrekende velden zijn krijgt het bestuur een mailtje dat er een melding klaar staat voor verzending. Alle calls kunnen uitgevoerd worden door

            <CodeBlock>POST https://api.loket.lokaalbestuur.vlaanderen.be/melding</CodeBlock>

            Volgende voorbeelden beschrijven de JSON body van deze calls.
          </p>

          <h3 class="h3">Kortste voorbeeld</h3>
          <p class="u-spacer">
            Een kort voorbeeld van de API:
            {{#let (get-code-snippet "reporting-obligation-quick-example.js") as |snippet|}}
              <CodeBlock @language={{snippet.language}}>{{snippet.source}}</CodeBlock>
            {{/let}}
          </p>

          <h3 class="h3">Optioneel mee geven van subject</h3>
          <p class="u-spacer">
            Indien er meerdere mogelijke meldingen op een pagina staan, kan het subject voor deze specifieke melding meegegeven worden in de call.
            {{#let (get-code-snippet "reporting-obligation-optioneel-meegeven-subject.js") as |snippet|}}
              <CodeBlock @language={{snippet.language}}>{{snippet.source}}</CodeBlock>
            {{/let}}
          </p>

          <h3 class="h3">Optioneel meegeven van draft of inzendbaar status</h3>
          <p class="u-spacer">
            Indien een inzending aangemaakt wordt en volledig is, dan kan ze automatisch verzonden worden.  Optioneel kan aangegeven worden dat de inzending in draft status is door de "status" property mee te geven.  De status kan de uri voor "concept" of "inzendbaar" zijn.

            <table class="data-table u-spacer">
              <thead>
                <tr>
                  <th>Status</th>
                  <th>URI</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Concept</td>
                  <td>http://lblod.data.gift/concepts/79a52da4-f491-4e2f-9374-89a13cde8ecd</td>
                </tr>
                <tr>
                  <td>Inzendbaar</td>
                  <td>http://lblod.data.gift/concepts/f6330856-e261-430f-b949-8e510d20d0ff</td>
                </tr>
              </tbody>
            </table>

            Voorbeeld:
            {{#let (get-code-snippet "reporting-obligation-optioneel-meegeven-draft-status.js") as |snippet|}}
              <CodeBlock @language={{snippet.language}}>{{snippet.source}}</CodeBlock>
            {{/let}}
          </p>

          <h3 class="h3">JSON-LD context</h3>
          <p class="u-spacer">
            Elk van voorgaande voorbeelden heeft een impliciete JSON-LD context.  Deze context kan expliciet in de calls meegegeven worden, of een alternatieve context kan meegegeven worden. Op deze manier blijft de API maximaal flexibel.
            Deze context wordt ter beschikking gesteld op <a href="https://lblod.data.gift/contexts/automatische-melding/v1/context.json">https://lblod.data.gift/contexts/automatische-melding/v1/context.json</a>.
            {{#let (get-code-snippet "reporting-obligation-json-ld-context.js") as |snippet|}}
              <CodeBlock @language={{snippet.language}}>{{snippet.source}}</CodeBlock>
            {{/let}}
          </p>

          <h3 class="h3">Expanded call</h3>
          <p class="u-spacer">
            Een call kan in dat geval ook volledig, zonder JSON-LD context meegegeven worden.  Of de call kan slechts deels geconfigureerd worden.  Dat ziet er dan als volgt uit:
            {{#let (get-code-snippet "reporting-obligation-expanded-call.js") as |snippet|}}
              <CodeBlock @language={{snippet.language}}>{{snippet.source}}</CodeBlock>
            {{/let}}
          </p>

        </article>

        {{outlet}}
      </div>
    </div>
  </div>
</section>

<section class="region region--alt">
  <div class="layout layout--wide">
    <h2 class="h2">Andere beschikbare documentatie</h2>
    <ul class="grid grid--is-stacked js-equal-height-container">
      <li class="col--4-12 col--1-2--s col--12-12--xs" style="min-height: 194px;">
        {{#link-to "document-publication" class="doormat js-equal-height u-mobile-no-equal-height"}}
          <div class="doormat__title">
            Publicaties van besluiten en notulen
          </div>
          <span class="doormat__text">Om de harvester te geleiden dienen bepaalde annotaties toegevoegd te worden, zodat deze de juiste pagina's opgehaald worden.</span>
        {{/link-to}}
      </li>
      <li class="col--4-12 col--1-2--s col--12-12--xs" style="min-height: 194px;">
        <a href="https://data.vlaanderen.be/doc/applicatieprofiel/besluit-publicatie/" target="_blank" rel="noopener" class="doormat js-equal-height u-mobile-no-equal-height">
          <div class="doormat__title">
            Besluit Publicatie
            <p><small class="uppercase text-fade"><i class="vi vi-external"></i> externe link</small></p>
          </div>
          <span class="doormat__text">Dit applicatieprofiel definieert een specificatie voor de publicatie van notulen en besluiten van bestuursorgaan.</span>
        </a>
      </li>
      <li class="col--4-12 col--1-2--s col--12-12--xs" style="min-height: 194px;">
        <a href="https://data.vlaanderen.be/doc/applicatieprofiel/mandatendatabank/" target="_blank" rel="noopener" class="doormat js-equal-height u-mobile-no-equal-height">
          <div class="doormat__title">
            Mandatendatabank
            <p><small class="uppercase text-fade"><i class="vi vi-external"></i> externe link</small></p>
          </div>
          <span class="doormat__text">Dit applicatieprofiel definieert een specificatie voor een gelinkte mandatendatabank op basis van gelinkte besluiten.</span>
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="region">
  <div class="layout layout--wide u-spacer--large">
    {{#link-to "index" class="link--icon--caret link--icon--caret--back"}}Terug naar overzicht{{/link-to}}
  </div>

  <div class="layout layout--wide" id="infoblock">
    <div class="layout__wrapper">
      <section class="info-block info-block--faq">
        <header class="info-block__header">
          <h1 class="label-above info-block__title">Vragen</h1>
        </header>
        <div class="info-block__content">
          <p>Voor meer informatie kan u ons contacteren op...</p>
        </div>
      </section>
    </div>
  </div>
</section>
